$Gdisplay: grid;
$Fdisplay: flex;
$Ldisplay: inline-flex;
$LGdisplay: inline-grid;
$bg-color: #808080;

body{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, #FF7259, #FEC356);
}
.header{ 
  min-height: 70px;
  grid-area: header;
  font-variant: small-caps;
  font-stretch: ultra-expanded;
  font-weight: 100;

  .first{
    padding: 18px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.1);
    width: 185px;
    text-shadow: #696969 0 0 2px;} 
}
.header, 
.menu{
  background: rgba(255,255,255,0.07);
  height: 70px;
}
.container list{
  display: $LGdisplay;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70px repeat(2, auto);
  grid-template-areas: 
    "header menu"
    "content content"
    "footer footer";}
    
  calendar-component{
      mwl-calendar-month-view-header{
        .cal-cell-row .cal-header{
          margin-left: 10%;
          padding: 10px;
          height: 35px;
        .cal-cell .cal-past .cal-weekend{
          margin: 56px;}
      }
    }
    .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
      color: darkred;}
    mwl-calendar-month-cell{
      border: 1px solid #e1e1e1;}
    .cal-month-view .cal-cell {
      float: left;
      flex: 1;
      display: $Fdisplay;
      flex-direction: column;
      align-items: stretch;
      min-height: 100px;}
    .cal-month-view .cal-days {
      border: 1px solid #e1e1e1;
      border-bottom: 0;}
    .cal-month-view .cal-cell-row {
      display: $Fdisplay;}
    .cal-month-view .cal-cell-top {
      min-height: 78px;
      flex: 1;}
    .cal-month-view .cal-day-number {
      font-size: 1.2em;
      font-weight: 400;
      opacity: 0.5;
      margin-top: 15px;
      margin-right: 15px;
      margin-bottom: 10px;
      float: right;}
    }
.menu{ 
  grid-area: menu; 
    .list-headers li{
      display: $Ldisplay;
      display: -webkit-inline-flex;
      list-style-type: none;
      -webkit-flex: 3 1 300px; 
      -ms-flex:  3 1 300px;
      margin: 0 10px;
      padding: 10px;
    a{color: #fff;text-shadow: #696969 0 0 2px;}  
    a:link{text-decoration: none;} 
    a:visited { text-decoration: none; } 
    a:active { text-decoration: none; }} 
      
     & .header-conteiner { 
      display: $Fdisplay;
      align-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      order: -1;
    }
}

day-component,
calendar-component{
  grid-area: content;
   height: 500px;
   padding: 95px 15%;
   margin: 10px;
}

day-component{
  .cal-day-view .cal-hour:not(:last-child) .cal-hour-segment, 
  .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom: thin dashed #e1e1e1; }
  .cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
    display: none;}
  .cal-day-view .cal-time {
    font-weight: bold;
    padding-top: 5px;
    width: 70px;
    text-align: center;}
}

mwl-calendar-week-view{
  .cal-day-headers{
    flex: 1;
    display: $Fdisplay;
    align-content: center;
  }
  .cal-header .cal-past .cal-weekend{
    padding: 10px;
  }
}

.content{
   color: #fff;
   text-shadow: #696969 0 0 2px;
   .mounth{
    padding-left: 70px;
    width: 100%;
   }

  .days{
    width: 100%;
    .day{
      display: $Ldisplay;
      display: -webkit-inline-flex;
      font-style: italic;
      width: 50%;

        #number-day{
        font-size: 70px;
        padding: 10px;}

        #day-of-week{
        font-size: 16px;
        text-transform: capitalize;}

        #year-day{
        font-size: 33px;}

        #attr-day{
        padding: 10px;}
    }

    .hours{
      width: 100%;
      border: solid 1px #e1e1e1;
      overflow-y: scroll;
      height: 500px;
      padding: 10px;
      font-size: 16px;}  
  }
}
.footer{
  grid-area: footer;
}