$Gdisplay: grid;
$Fdisplay: flex;
$Ldisplay: inline-flex;
$LGdisplay: inline-grid;
$bg-color: #808080;

body{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, #FF7259, #FEC356);
}
.header{ 
  min-height: 70px;
  grid-area: header;
  font-variant: small-caps;
  font-stretch: ultra-expanded;
  font-weight: 100;

  .first{
    padding: 18px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.1);
    width: 185px;
    text-shadow: #696969 0 0 2px;} 
}
.header, 
.menu{
  background: rgba(255,255,255,0.07);
  height: 70px;
}
.container{
  display: $LGdisplay;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70px repeat(2, auto);
  grid-template-areas: 
    "header menu"
    "content content"
    "footer footer";
}

.menu{ 
  grid-area: menu; 
    .list-headers li{
      display: $Ldisplay;
      display: -webkit-inline-flex;
      list-style-type: none;
      -webkit-flex: 3 1 300px; 
      -ms-flex:  3 1 300px;
      margin: 0 10px;
      padding: 10px;} 
      
     & .header-conteiner { 
      display: $Fdisplay;
      align-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      order: -1;
    }
}
.content{
   grid-area: content;
   height: 500px;
   padding: 45px;
   margin: 10px;

   .days, 
   .hours{
    width: 100%;
   }

   .hours{
      width: 100%;
      border: solid 1px #e1e1e1;
      overflow-y: scroll;
      height: 500px;
      padding: 10px;
      font-size: 16px;
      .cal-day-view .cal-time {
        font-weight: bold;
        padding-top: 5px;
        width: 70px;
        text-align: center;}
      .cal-day-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
      border-bottom: thin dashed #e1e1e1; }
      .cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
        display: none;}
      mwl-demo-component{
        min-width: 200px;
        width: 100%;
      }
   }

  .days{
    day{
      padding: 20px;
      display: $Ldisplay;
      display: -webkit-inline-flex;
      font-style: italic;
      margin-bottom: 50px;

        #number-day{
        font-size: 70px;
        padding: 10px;}

        #day-of-week{
        font-size: 16px;
        text-transform: capitalize;}

        #year-day{
        font-size: 18px;}

        #attr-day{
        padding: 10px;}

    }

  }
}
.footer{
  grid-area: footer;
}